@import "sections/A\ Header/styles.css";
@import "sections/B\ Relax/styles.css";
@import "sections/C\ Video/styles.css";
@import "sections/D\ Courses/.css";
@import "sections/E\ Price\ Plan/styles.css";
@import "sections/F\ Testimonial/styles.css";
@import "sections/g-subscribe/styles.css";
@import "sections/i-join/styles.css";
@import "sections/i-footer/styles.css";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: ;
}
