.footer {
    display: flex;
    background: red;
    justify-content: space-between;
}

.footer__col{
    flex-direction: column;
    padding: 1rem 2rem; 
}

.footer__button{

    border: 1px solid white;
    color: orange;
    background: white;
    cursor: pointer;
    padding: 0.75rem 1.5rem;
    border-radius: 12rem;
    font-size: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.footer__button:hover {
    color: orange;
}

.footer__icon-list{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.footer__icon-wrap{
    display: block;
    padding: 1rem 0.5rem 0 0;
    list-style: none;

}
