*{
    font-family: 'Lato', sans-serif;
}
body{
    background: #F5F6F9;
}    
#logo {
    width: 70px;
    margin-left: 50px;
}
#navbar {
    width: 88%;
    height: 70px;
    margin: 0 auto;
    padding: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    margin-top: 30px;
    border-radius: 4px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 60px 20px;
}

nav ul li a {
    text-decoration: none;
    color: grey;
    transition: 0.5s all ease;
}
nav ul li a:hover {
    color: #FF9F66;
    text-decoration: underline;
}

#sign-in {
    text-decoration: none;
    color: black;
    margin-left: 380px;
    margin-right: 36px;
}
#sign-up {
    background-color: #FF9F66;
    color: #FFF;
    padding: 8px 24px;
    border-radius: 4px;
    border-color: #FF9F66;
    border: 0.5px solid #FF9F66;
    text-decoration: none;
    margin-right: 80px;
}

.info {
    margin: 150px 120px;
}

.info h1 {
    text-align: left;
    font-size: 52px;
    font-weight: bold;
    color: black;
}
.info p {
    text-align: left;
    font-size: 20px;
    color: grey;
    margin-top: 10px;
}

.buttons {
    margin-left: 116px;
    margin-top: -120px;
}

#get-started {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px 20px;
    padding: 10px 20px;
    background-color: #FF9F66;
    color: rgb(249, 246, 246);
    text-decoration: none;
    border-radius: 4px;
}
#learn-more {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px 20px;
    background-color: white;
    border: 1px solid #fff;
    color: black;
    text-decoration: none;
    margin-left: 12px;
    border-radius: 4px;
}

.wrapper {
    width: 100%;
    display: flex;
    margin: 0 auto;
}

.box1 {
    width: 33%;
    height: 200px;
    background-color: #fff;
    margin-left: 120px;
    margin-top: 120px;
    border-radius: 4px;
}
.box1 h3 {
    margin-top: 26px;
    margin-left: 20px;
}

.box2 {
    width: 33%;
    height: 200px;
    background-color: #fff;
    margin-top: 120px;
    margin-left: 160px;
    border-radius: 4px;
}
.box2 h3 {
    margin-top: 26px;
    margin-left: 16px;
}

.box3 {
    width: 80%;
    height: 200px;
    background-color: #FEAEA3;
    margin-top: 120px;
    margin-left: 200px;
    margin-right: 60px;
    border-radius: 4px;
}
.box3 h3 {
    margin-top: 26px;
    margin-left: 26px;
}
.box3 p {
    margin-top: 26px;
    margin-left: 26px;
    margin-bottom: 10px;
}
.box3 a {
    text-decoration: none;
    margin-top: 50px;
    margin-left: 26px;
    color: black;
    font-size: 12px;
}

/* .number {
    font-size: 14px;
    color: black;
    margin-left: 10px;
} */

.stripe {
    height: 200px;
    width: 100%;
    margin-top: -150px;
    background-color: #348F7F;
    z-index: -1;
}