.main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.video-div{
    display: flex;
    justify-content: center;
}
#video{
    border-radius: 10px;
}
/* .video-left-line{
    position: absolute;
    width: 80px;
    height: 4px;
    background-color: #FF9F66;
    margin-top: 75px;
    margin-left: 220px;
} */
.video-text-container{
    display: flex;
    justify-content: space-around;
    padding: 10px;

}
.video-text-left{
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 24px;
    max-width: 30rem;

}
.video-text-right{
    flex-basis: 45%;
    font-family: Arial;
    font-size: 14px;
    color: #595959;

}
#video-button{
    background-color: #FF9F66;
    color: #fff;
    width: 120px;
    height: 40px;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 8px;
}