.test {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  max-width: 70rem;
  margin: 0 auto;
  font-family: 'Lato', sans-serif;
}

.test__info {
  padding: 1rem;
  max-width: 20rem;
  justify-content: center;
  text-align: center;

}
.test__image {
  border-radius: 50%;
  width: 100%;
  max-width: 5rem;
  height: 5rem;
}

.test__paragraph {
  padding: 1rem;
  justify-content: center;
  align-items: center;
  max-width: 35rem;
}
