.join-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 800px;
    margin: auto;
}


/* .join-left{
    display: flex;
    flex-direction: column;
    align-items: left;
    max-width: auto;
    padding: 3rem;
    justify-content: center;
} */

.join-heading{
    display: flex;
    flex-direction: column;
    width: 18rem;
    padding-top: 4rem;

}

.join-paragragh{
    display: flex;
    width: 22rem;
}





.join-card{
    display: flex;
    width: 22rem; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    border-radius: 1rem;
    margin-top: 2rem;
   
}

form {
    display: flex;
    flex-direction: column;
    background-color: rgb(250, 250, 250);
    border-radius: 1rem;
    padding: 10px;
    height: 300px;
    width: 100%;
}

input[type=text] {
    border-radius: 0.2rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    height: 1.5rem;
    margin: 3px;
}

textarea{
    border-radius: 0.2rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    color: rgb(172, 172, 172); 

}

.checkbox-text{
    font-size: smaller;
}

.join-button{ 
    background-color: orange;
    padding: 0.5rem;
    width: 6rem;
    border-radius: 0.3rem;
    border: none;
    color: white;
    margin-top: 2rem;
}

