.join-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 800px;
    margin: auto;

}


.join-left{
    display: flex;
    flex-direction: column;
    /* align-items: left; */
    max-width: auto;
    padding: 3rem;
    justify-content: center;
}

.join-heading{
    display: flex;
    flex-direction: column;
    width: 18rem;
    padding-top: 4rem;

}

.join-paragragh{
    display: flex;
    width: 22rem;
}

.join-card{
    display: flex;
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;

}

form {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    height: 300px;
    width: 100%;
    border-radius: 0.1rem;
}



.join-button{ 
    background-color: orange;
    padding: 0.5rem;
    width: 6rem;
    border-radius: 0.1rem;
    
}

