.price-main{
    background-color: #dfdfdf;
    padding: 3rem;
    max-height: 5rem;
    font-family: 'Lato', sans-serif;
}

.price-heading{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.price-paragraph{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 22rem;
    text-align: center;
    margin: 1rem auto;
}
.section__cards{
    justify-content: space-between;
}
.section_list{
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.section_item{ 
    background: rgb(250, 250, 250);
    margin: 0.8rem;
    border-radius: 6px;
    justify-content: left;
    align-items: center;
    width: 20rem;
    height: 20rem;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);


}

.section__top{
    border-bottom: 1px solid black;
}
.section__top_orange{
    background: orange;

}


.price-discover{
    font-size: x-small;
    justify-content: center;
    text-align: center;
    opacity: 40%;
}
.price-list{ 
   margin-bottom: 5rem;
   align-items: center;

   
}
.price__button{
    background-color: rgba(255, 159, 102, 1);
    padding: 0.5rem;
    width: 6rem;
    border-radius: 0.3rem;
    border: none;
    color: white;


}

.price__button:hover{
    background: rgba(255, 255, 255, 1);
    color: rgba(255, 159, 102, 1);
    border: 1px solid rgba(255, 159, 102, 1);
}