/*           SECTION D - COURSES STYLING STARTS HERE            */


/* body {
    margin: 0;
    padding: 0;
} */
.courses-container{
    height: 100vh;
    width: 100%;
    padding: 5.5rem 0;
}
img{
    height: 200px;
    width: 250px;
    border-radius: 10px;
}
.container-1 {
    display: flex;
    justify-content: center;
}
.heading-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    order: -1;
}
.heading-content h2{
    font-size: 46px;
    font-weight: bold;
}
.heading-content-p{
    font-size: 18px;
    text-align: center;
    max-width: 30rem;
}
.container-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2rem;
    margin: 0 auto;
}
.card-headings {
    max-width: 15rem;
}
.card-p {
    max-width: 20rem;
}
.fa-star {
    color: #FF9F66;
}
.card {
    flex: 1 1 33%;
    margin: 0 auto;
    justify-content: center;
}
.card__rating-text {
    color: #FF9F66;
    font-weight: bolder;
    cursor: pointer;
    margin-left: 2.6rem;
}
.card__rating-text:hover{
    color: #ee6515;
}
.card__text-black {
    color: black;
    cursor: pointer;
}
.card__text-black:hover{
    color: #FF9F66;
}
.card__1 {
    height: 400px;
    width: 270px;
    padding: 10px;
    background-color: rgb(241, 241, 241);
    border-radius: 5px;
    box-shadow: 0px 2px 20px rgba(0,0,0,0.5);
    transition: all .5s ease;
}
.card__2 {
    height: 400px;
    width: 270px;
    padding: 10px;
    background-color: rgb(241, 241, 241);
    border-radius: 5px;
    box-shadow: 0px 2px 20px rgba(0,0,0,0.5);
     transition: all .5s ease;
}

.card__3 {
    height: 400px;
    width: 270px;
    padding: 10px;
    background-color: rgb(241, 241, 241);
    border-radius: 5px;
    box-shadow: 0px 2px 20px rgba(0,0,0,0.5);
     transition: all .5s ease;
}
.card__1:hover,
.card__2:hover,
.card__3:hover {
    transform: scale(1.1);
    box-shadow: 0px 2px 20px rgba(0,0,0,0.5);
}

.button-div {
    display: flex;
    flex: row;
    justify-content: center;
}
    
#submit {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: .9rem;
    width: 140px;
    height: 45px;
    padding: 10px 20px;
    padding: 15px 20px;
    border: none;
    outline: none;
    border-radius: 4px;
    color: rgb(249, 246, 246);
    background-color: #FF9F66;
    transition: all .5s ease;
    cursor:pointer;
}
#submit:hover{
    background-color:#ee6515;
}


/*              SECTION D - COURSES STYLING ENDS HERE                  */

