*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}



.subscribe{
    background:rgb(255, 145, 0) ;




}

.newletter_container{ 
    background: #348f7f;
    height: 20rem;
    width: 20rem;
    margin: 0;
    padding: 0;
}


button{ 
    background-color: rgb(255, 145, 0);
}