.price-main{
    background-color: #F5F6F9;
    padding: 3rem;
    
}


.price-heading{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.price-paragraph{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 22rem;

}



.section_list{
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.section_item{ 
    background: white;
    margin: 0.8rem;
    border-radius: 6px;
    justify-content: left;
    align-items: center;
    width: 20rem;
    height: 20rem;
    text-align: center;


}
.section_item_primary {
    background: orange;
    height: 6rem;
   
}

.price-discover{
    font-size: x-small;
    justify-content: center;
    text-align: center;
    opacity: 40%;
}
.price-list{ 
    display: flex;
    margin-bottom: 5rem ;
}